.table_th-color th {
  background-color: #0033A0; 
  color: white;
  border-bottom: 3px solid #FFD700; 
}

body {
  background-color: #EFEFEF; 
}

.nav-center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 500px;
  background-color: #FFD700; 
  color: #0033A0; 
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  border: 2px solid #4169E1; 
}
